// **** GLOBAL MODAL CSS ***** //
.modal-main {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 15px;
    position: absolute;
    margin-top: 3%;
    z-index: 10;
    right: 0;
    top: -30px;
}
.image-container {
    height: 150px;
    width: 150px;
    //add background URL inline
    background-position: center;
    background-size: 300px;
    position: absolute;
    border: 3px solid gold;
    border-radius: 15px;
    top: 20px;
    left: 20px;  
}
.player-stats {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 20px;
    left: 180px;
    text-align: left;
    color: white;
}
.card {
    height: 210px;
    min-width: 140px;
    max-width: 140px;
    position: absolute;
    color: black;
    background-color: white;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 15px;    
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.card-details {
    height: 210px;
    width: 805px;
    border: 3px solid black;
    border-radius: 16px;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    left: 310px;
    background-color: white;
    padding: 15px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}
.card-details-action {
    width: 200px;
    height: 50px;
    border: 3px solid gold;
    margin: 25px;
    background-color: blue;
    color: white;
    font-size: 16px;

}

.exit {
    position: absolute;
    padding: 20px;
    color:white;
    font-size: 40px;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}
.exit:hover {
    color: gold;
    cursor: pointer;
}

// *************** START MODAL CSS ****************** //

.start {
    background-image: url('/assets/background.jpg');
    background-position: 46.5% 50%;
    background-size: 1440px;
    border: none;
    color: black;

}
.image-container-start {
    height: 200px;
    width: 200px;
    color: black;
    background-position: 50% 35%;
    background-size: 250px;
    position: absolute;
    border: 3px solid gold;
    border-radius: 15px;
    top: 150px;
}
.fighter {
    margin: 50px;
    background-image: url('/assets/warrior-attack.gif');
    left: 500px;
  }
  .archer {
    margin: 50px;
    background-image: url('/assets/archer-attack.gif');
    left: 100px
  }
  .rogue {
    margin: 50px;
    background-image: url('/assets/rogue-attack.gif');
    right: 100px;
  }



// **************** PLAYER MODAL CSS **************** //
.player-main {
    background-color: green;
}
.draw-pile {
    background-color: rgb(1, 17, 253);
    bottom: 20px;
    left: 20px;
    color: white;    
}
.discard-pile {
    background-color: rgb(255, 0, 0);
    bottom: 20px;
    left: 165px;
    color: white;
    
}
.hand-pile {
    background-color: rgb(140, 0, 255);
    bottom: 20px;
    right: 20px;
    color: white;
}
.hand-pile-active {
    background-color: rgb(140, 0, 255);
    bottom: 20px;
    right: 20px;
    color: white;
}
.hand-pile-active:hover {
    border-color: gold;
}
.hand-card-modal {
    height: 215px;
    width: 760px;
    background-color: white;
    bottom: 240px;
    left: 310px;
    border-radius: 16px;
    position: absolute;
    display: flex;
}
.hand-card-container {
    height: 220px;
    min-width: 920px;
    max-width: 920px;
    border-radius: 16px;
    background-color: green;
    overflow-x: auto;
}
.hand-card {
    min-width: 140px;
    min-height: 210px;
    margin: 5px;
    color: white;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    font-size: 20px;    
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
.crystal1 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #2CE8F5FF;
    background-color: black;
}
.crystal2 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #FF0044FF;
    background-color: black;
}
.crystal3 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #124E89FF;
    background-color: black;
}
.crystal4 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #63C74DFF;
    background-color: black;
}
.crystal5 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #68386CFF;
    background-color: black;
}



// **** TOWN MODAL CSS ***** //
.town-main {
    background-color: #0012d7;
}
.merchant-deck {
    background-color: rgb(160, 80, 14);
    color: white;
}
// card width === 140px 
//card height === 210px
//total width === 1294px
// cards width + margins (not include beg & end) === 1150
.merchant-deck-1 {
    top: 100px;
    left: 73px;
}
.merchant-deck-2 {
    top: 100px;
    left: 216px;
}
.merchant-deck-3 {
    top: 100px;
    left: 359px;
}
.merchant-deck-4 {
    top: 100px;
    left: 502px;
}
.merchant-deck-5 {
    top: 100px;
    right: 495px;
}
.merchant-deck-6 {
    top: 100px;
    right: 351px;
}
.merchant-deck-7 {
    top: 100px;
    right: 208px;
}
.merchant-deck-8 {
    top: 100px;
    right: 65px;
}
.card-details-town {
    height: 210px;
    width: 1150px;
    border: 3px solid black;
    border-radius: 16px;
    box-sizing: border-box;
    position: absolute;
    bottom: 40px;
    left: 72px;
    background-color: white;
    padding: 15px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

.card-details-purchase {
    width: 200px;
    height: 50px;
    border: 3px solid gold;
    margin: 25px;
    background-color: blue;
    color: white;
    font-size: 16px;

}
@keyframes purchase {
    from {color: white;}
    to {color: black;}
}
.purchased {
    animation-name: purchase;
    animation-duration: .5s;
}
@keyframes decline {
    from {color: red;}
    to {color: black;}
}
.declined {
    animation-name: decline;
    animation-duration: 1s;
}
.merchant-coins {
    position: absolute;
    top: 15px;
    left: 15px;
}


// **** ENEMIES MODAL CSS ***** //
.enemies-main {
    background-color: #b90000;
    
}