// **** GLOBAL MODAL CSS ***** //
.modal-main {
    box-sizing: border-box;
    width: 90%;
    height: 100%;
    border: 3px solid black;
    border-radius: 15px;
    position: absolute;
    margin-top: 3%;
    z-index: 10;
    right: 5%;
    top: -30px;
}
.image-container {
    height: 150px;
    width: 150px;
    //add background URL inline
    background-position: center;
    background-size: 300px;
    position: absolute;
    border: 3px solid gold;
    border-radius: 15px;
    top: 5px;
    left: 5px;  
}
.player-stats {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 5px;
    left: 160px;
    text-align: left;
    color: white;
}
.card {
    height: 210px;
    min-width: 140px;
    max-width: 140px;
    position: absolute;
    color: black;
    background-color: white;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;    
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
.card-details {
    height: 210px;
    width: 716px;
    border: 3px solid black;
    border-radius: 16px;
    box-sizing: border-box;
    position: absolute;
    bottom: 5px;
    left: 295px;
    background-color: white;
    padding: 15px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

.card-details-action {
    width: 200px;
    height: 50px;
    border: 3px solid gold;
    margin: 25px;
    background-color: blue;
    color: white;
    font-size: 30px;

}

.exit {
    position: absolute;
    padding: 15px;
    color:white;
    font-size: 40px;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}
.exit:hover {
    color: gold;
    cursor: pointer;
}


// **** PLAYER MODAL CSS ***** //
.player-main {
    background-color: green;
}
.draw-pile {
    background-color: rgb(1, 17, 253);
    bottom: 5px;
    left: 5px;
    color: white;
    
}
.discard-pile {
    background-color: rgb(255, 0, 0);
    bottom: 5px;
    left: 150px;
    color: white;
    
}
.hand-pile {
    background-color: rgb(140, 0, 255);
    bottom: 5px;
    right: 5px;
    color: white;
}
.hand-pile-active {
    background-color: rgb(140, 0, 255);
    bottom: 5px;
    right: 5px;
    color: white;
}
.hand-pile-active:hover {
    border-color: gold;
}
.hand-card-modal {
    height: 215px;
    width: 760px;
    background-color: white;
    bottom: 225px;
    left: 150px;
    border-radius: 16px;
    position: absolute;
    display: flex;
}
.hand-card-container {
    height: 220px;
    max-width: 760px;
    border-radius: 16px;
    background-color: white;
    overflow-x: auto;
}
.hand-card {
    min-width: 140px;
    min-height: 210px;
    margin: 5px;
    color: white;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    font-size: 20px;    
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}



// **** TOWN MODAL CSS ***** //
.town-main {
    background-color: #0012d7;
}


// **** ENEMIES MODAL CSS ***** //
.enemies-main {
    background-color: #b90000;
}