.player-main {
    background-color: green;
}
.draw-pile {
    background-color: rgb(1, 17, 253);
    bottom: 5px;
    left: 5px;
    color: white;
    
}
.discard-pile {
    background-color: rgb(255, 0, 0);
    bottom: 5px;
    left: 150px;
    color: white;
    
}
.hand-pile {
    background-color: rgb(140, 0, 255);
    bottom: 5px;
    right: 5px;
    color: white;
}


