//HEXBOARD AND MAIN CSS COMPONENT
#hexboard {
  width: 100%;
  box-sizing: border-box;
  margin-top: 4%;
  position: absolute;

  .hex {
    display: inline-block;
    position: relative;
    width: 62.4px;
    height: 35.103px;
    margin: 17.55px 1.6px 2.77px;
    color: rgba(255, 255, 255, 0.75);
    background-color: #55636e;
    font: 32px/35.1px sans-serif;
    vertical-align: middle;

  }
  .hex::before, .hex::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 42.993px;
    height: 42.993px;
    background-color: inherit;
    transform-origin: 0 0;
    transform: scaleY(0.57735) rotate(-45deg);
  }

  //Main buttons
  .main-button {
    position: absolute;
    min-width: 200px;
    min-height: 50px;
    border: 4px solid gold;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .player-button {
    top: 14px;
    right: 15px;
    background-color: #00bc29;
  }
  .player-button:hover {
    background-color: #006e18;
  }

  .enemies-button {
    top: 14px;
    left: 15px;
    background-color: #b90000;
  }
  .enemies-button:hover {
    background-color: #820000;
  }

  .town-button {
    bottom: 0px;
    right: 15px;
    background-color: #0012d7;
  }
  .town-button:hover {
    background-color: #000860;
  }
}

//HEXBOARD AND MAIN CSS END
